# variables

# queation.01

In [1]:
user_name=input("enter your name:")
x=("wellcome ")
print("your name is:",x+user_name)

enter your name:chuck
your name is: wellcome chuck

# queation.02

In [2]:
hrs=input("Enter hours:")
rates=input("Enter rates per hours:")
pay=float(hrs)*float(rates)
print("pay:",pay)

Enter hours:22
Enter rates per hours:25
pay: 550.0

# Queation num 3

In [3]:
width=17
height=12.0
width//2
print(width)

17

In [4]:
width/2.0
print(width)

17

In [5]:
height/3
print(height)

12.0

In [6]:
1+2*5

11

# Queation 4

In [7]:
celsius = float(input("Temprature in celsius"))
fahrenheit = (celsius * 9.0/5.0) + 32.0
print("temprature in fahrenheit = ", fahrenheit)

Temprature in celsius26
temprature in fahrenheit =  78.8

# Queation num 5

In [1]:
import math
number=int(input("enter the number"))
root = math.sqrt(number)
if int(root+0.5) ** 2==number:
    print(number,"is a perfect square:")
else:
        print(number,"is not a perfect square")

enter the number49
49 is a perfect square:

# queation num 6

In [9]:
p=int(input("principle:"))
t=int(input("Rate of interest:"))
r=int(input("Time duration respetively: "))
z=(p*t*r)/100
print(z)

principle:25
Rate of interest:35
Time duration respetively: 45
393.75

# queation.09

In [12]:
a=input("enter your name:")
a.upper()

enter your name:abubakar

'ABUBAKAR'

# string

# queation.01

In [15]:
str = 'X-DSPAM-Confidence:0.8475'

In [17]:
str[-6:]

'0.8475'

In [18]:
num=str[-6:]

In [30]:
num

'0.8475'

In [31]:
type(num)

str

In [32]:
num=float(num)

In [33]:
type(num)

float

In [34]:
num

0.8475

# queation.02

In [20]:
my_str = "Welcome to the Course on Data Science"
my_str.split()

['Welcome', 'to', 'the', 'Course', 'on', 'Data', 'Science']

In [21]:
my_str[:12]

'Welcome to t'

In [22]:
my_str

'Welcome to the Course on Data Science'

In [23]:
my_str[:7] + my_str[-7:]

'WelcomeScience'

# queation.03

In [24]:
str = ("i am a good boy")
str.count("o")

3

# queation.04

In [25]:
str=("this is a good class class")
len(str)

26

In [26]:
str.count("class")

2

In [27]:
str.count("good")

1

In [28]:
str.count("is")

2

# queation.05

In [29]:
s =("I am a student")
s[:2] + s[-2:]

'I nt'

# list

# queation.01

In [35]:
my_list=[1,2,3,4]
my_list[1:3]

[2, 3]

# queation.02

In [36]:
my_list=["abubakar","nadeem","ali","usman","usman","abubakar"]
a=set(my_list)
print(a)

{'nadeem', 'abubakar', 'ali', 'usman'}

# queation.03

In [37]:
a=[1,2,3,4,5]
sum(a)

15

# queation.04

In [39]:
my_list=[2,3,4,5,6,7,8,9,8,7,10,11,15,18,23]
print("minimum num is:",min(my_list),"maxmimum num is:",max(my_list))

minimum num is: 2 maxmimum num is: 23

# queation.05

In [40]:
my_list=["awais","abubakar","awais","abubakar","nadeem","nadeem"]
a=set(my_list)
print(a)

{'awais', 'nadeem', 'abubakar'}

# queation.06

In [41]:
a=["bilal","abubakar","awais"]
b=["mohsin","abubakar","usman"]
x=set(a)
y=set(b)
x.intersection(y)

{'abubakar'}

In [42]:
a=set([1,2,3,4])
b=set([2,3,4,5])
a.intersection(b)

{2, 3, 4}

# queation.07

In [2]:
lst=["awais","abubakar"]
a = str(lst)
print(a)

['awais', 'abubakar']

In [3]:
type()

str

# queation.08

In [47]:
lst=["a","b","c"]
lst1=["a","b","c"]
lst==lst1
# if lst==lst1:
#     print("true:")
# else:  
#      print("false:")

True

# queation.o9

In [48]:
lst=["abubakar","umar","usman","umar",2,3,4,5,2,3,4,5]
a=set(lst)
print(a)

{2, 3, 'abubakar', 'umar', 4, 5, 'usman'}

# queation.10

In [49]:
lst=["a","b","c","d","u",2,2,3,4,5]
lst.count("a")

1

In [50]:
lst.count(2)

2

# quetion.11

In [51]:
l_o_l = [[1,2,3],[4,5,6,7],[8,9,0]]
print(max(l_o_l, key=sum))

[4, 5, 6, 7]

# queation.12

In [52]:
lst=["abubakar","usman","ali","umar"]

In [53]:
lst[0]="awais"
print(lst)

['awais', 'usman', 'ali', 'umar']

In [54]:
lst=["abubakar","usman","ali"]

In [55]:

lst_1=[]
for item in lst:
    item = "good " + item
    lst_1.append(item)    
    
print(lst_1)

['good abubakar', 'good usman', 'good ali']

# queation.13

In [56]:
str=("abubakar")
type(str)

str

In [57]:
a=list(str)
type(a)

list

In [58]:
print(a)

['a', 'b', 'u', 'b', 'a', 'k', 'a', 'r']

# queation.14

In [59]:
lst=["abubakar","ali","awais"]
lst_1=[1,2,3]
print("another list:",lst+lst_1)

another list: ['abubakar', 'ali', 'awais', 1, 2, 3]

# queation.15

In [60]:
lst = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n']
s = []
n = 3
for x in range(n):
    s.append(lst[x::n])
    print(s)

[['a', 'd', 'g', 'j', 'm']]
[['a', 'd', 'g', 'j', 'm'], ['b', 'e', 'h', 'k', 'n']]
[['a', 'd', 'g', 'j', 'm'], ['b', 'e', 'h', 'k', 'n'], ['c', 'f', 'i', 'l']]

# queation.16

In [61]:
lst = [25,12,2]
for i in lst:
    print(i,end='')

25122

# tuple

# queation.01

In [62]:
t=(1,2,3)
tuple((n,)for n in t)

((1,), (2,), (3,))

# queation.02

In [63]:
#ount the number of elements in a list until it finds a tuple in the list.
m=[1,2,3,4,(6,7),8,9]
for i in m:
    if  type(i)==tuple:
        print("tuple found:",i)

tuple found: (6, 7)

# queation.03

In [64]:
tp=('abubakar','azar','nadeem','huzaifa')
tp1=(1,2,3,4,5,6)
print("new tuple is:",tp+tp1)

new tuple is: ('abubakar', 'azar', 'nadeem', 'huzaifa', 1, 2, 3, 4, 5, 6)

# queation.04

In [65]:
tp=(1,2,3,4)
int=2
print("new tuple:",tp*int)

new tuple: (1, 2, 3, 4, 1, 2, 3, 4)

# start

In [66]:
tp=(1,2,3,4)
list_1=list(tp)
type(list_1)

list

In [67]:
a=2
list_2=[]
for n in tp:
    item=n*a
    list_2.append(item)
print(list_2)

[2, 4, 6, 8]

In [68]:
b=tuple(list_2)
type(b)

tuple

# sets

# queation.01

In [69]:
st={1,2,3,4,5,6,7,8,9}
st.add(10)
print(st)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# in checking

In [70]:
st={1,2,3,4,5,6,7,8,9}

In [71]:
10 in st

False

In [72]:
7 in st

True

# queation.02

In [73]:
lst=[1,2,3,4,5,1,2,3,4,5,6,7,8,9,8,7,6,5,4,3,2]
a=set(lst)
type(a)

set

In [74]:
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

# queation.03

In [75]:
lst=["123.352.2.3","124.168.1.1","123.132.2.4"]
lst1=["124.168.1.1","123.352.2.3"]
for i in lst:
    if i in lst1:
        print("Ip found:")
        print(i)

Ip found:
123.352.2.3
Ip found:
124.168.1.1

# Dictionaries

# queation.01

In [76]:
dic={1115:30,1116:25,1117:20,1118:15,1119:10}
dic.keys()

dict_keys([1115, 1116, 1117, 1118, 1119])

In [77]:
dic.values()

dict_values([30, 25, 20, 15, 10])

In [78]:
dic.get(1117)

20

In [79]:
dic.get(1116)

25

# queation.02

In [20]:
comm = { 'chair' : 10, 'table' : 22, 'sofa-set': 2, 'tv-unit': 0, 'fan': 10, 
        'table-lamp': 0, 'iron-box': 0, 'bed': 30 }

In [21]:
price = { 'chair': 2365, 'table': 37752, 'sofa-set': 23299, 'tv-unit': 120344, 'bed': 40226 }

In [ ]:
cash = 0

while True:
    entered_commodity = input("Plz Enter What You Need: ")
    if entered_commodity == "quit": 
        print("Thank You For Shopping!")
        break
    
    quantity = int(input("Plz Enter The Quantity:   "))
    if entered_commodity in comm.keys():
        print("Commoditiy Found")
        if comm[entered_commodity]>0 and quantity<=comm[entered_commodity]:
            print("In-Stock & Available")
            cash = cash + (price[entered_commodity] * quantity)
            print("Now Cash is: ", cash)
            comm[entered_commodity] = comm[entered_commodity] - quantity
            print(comm.items())

        else:
            print("Sorry, Out Of Stock OR the Quantity is More than The Available Stock.")
        
    else:
        print("Sorry, We Do Not Have What You Want.")

Plz Enter What You Need: chair
Plz Enter The Quantity:   4
Commoditiy Found
In-Stock & Available
Now Cash is:  9460
dict_items([('chair', 6), ('table', 22), ('sofa-set', 2), ('tv-unit', 0), ('fan', 10), ('table-lamp', 0), ('iron-box', 0), ('bed', 30)])
Plz Enter What You Need: table
Plz Enter The Quantity:   5
Commoditiy Found
In-Stock & Available
Now Cash is:  198220
dict_items([('chair', 6), ('table', 17), ('sofa-set', 2), ('tv-unit', 0), ('fan', 10), ('table-lamp', 0), ('iron-box', 0), ('bed', 30)])